html {
    font-size: 17px;
}

body {
    font-family: "Geist", sans-serif;
    letter-spacing: -0.015625rem;
}

@layer utilities {
    .card-clip {
        clip-path: inset(4px round 40px);
        &:hover {
            clip-path: inset(0px round 44px);
        }
    }
}

@layer components {
    .header-nav--menu {
        .active {
            background-color: #5162ff;
            color: white;
            @media (min-width: 1024px) {
                color: black;
                background-color: white;
            }
        }
    }
}
