---
import FormattedDate from "@/components/FormattedDate.astro";
import type { CollectionEntry } from "astro:content";
import Card from "@/components/card/Card.astro";
import CardBody from "@/components/card/CardBody.astro";

export interface Props {
    posts: CollectionEntry<"post">[];
}

const { posts } = Astro.props;
---

<ul class="list-none space-y-5">
    {
        posts.map((post) => (
            <li>
                <Card as="a" href={`/posts/${post.slug}`} class="block p-4 no-underline sm:flex-row sm:gap-8 transition-all duration-300">
                    <CardBody class="flex md:gap-x-24 gap-x-4">
                          <span class="font-sans text-semibold flex-shrink-0 w-20">
                                    <FormattedDate
                                        date={post.data.pubDate}
                                    />
                            </span>
                            <div class="flex-1">
                        <span class="line-clamp-1 md:inline-flex items-center">
                            <span class="text-text dark:text-cream inline-block font-semibold text-lg font-body transition-colors duration-300 hover:underline decoration-secondary-200
                            decoration-2">
                                {post.data.title}
                            </span>
                          
                        </span>
                        <span class="max-w-2xl dark:text-secondary-50 line-clamp-2 tracking-tight text-semibold font-sans">
                            {post.data.description}
                        </span>
                        </div>
                    </CardBody>
                </Card>
            </li>
        ))
    }
</ul>