@use "core/misc";
@use "core/variables";
@use "core/general";
@use "core/typography";
@use "core/utilities";
@import '../themes/base.css';

/*

=========================================================
* Avenue CSS Kit v0.1
=========================================================

* Demo Page: 'https://astro-lane.avenuelabs.co/'
* Copyright 2023 Christian Luntok - Avenue Labs
* Coded by Christian Luntok - Avenu Labs

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/

// Core CSS Reset/MISCS

// Core Declarations

// Core Layouts and Style Definitions

// Core Plugins
// @import "plugins/plugin-tailwind";
