---
import { clsx } from "clsx";

export interface Props {
    as?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
    class?: string;
}

const { as: Element = "h2", class: className } = Astro.props;
---

<div class="card--header">
    <Element
        class={clsx(
            "font-medium text-zinc-800 text-3xl leading-9 tracking-tighter",
            className
        )}
    >
        <slot />
    </Element>
</div>