---
import SectionContainer from "../SectionContainer.astro";
const { class: className } = Astro.props;
---

    <div class={`card-group--container ${className && className}`}>
        <slot />
    </div>
