---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import projectData from "@/data/projectData.json";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import getSortedTags from "@/utils/getSortedTags";
import { SITE } from "@config";
import ProjectCardGroup from "@/components/projects/ProjectCardGroup.astro";
import PostList from "@/components/posts/PostList.astro";


const posts = await getCollection("post");

const tags = getSortedTags(posts).slice(0, 6);
const sortedPosts = posts
    .filter((post) => post.data.featured == true && !post.data.project)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, SITE.postPerPage);

const projects = projectData.slice(0, SITE.postPerPage);
---

<Layout
    title="jdlennoxs"
    description=""
>
    <SectionContainer class="projects--container">
         <div class="flex flex-row items-center text-secondary-600 dark:text-secondary-200">
              <h2
                class="font-medium text-h4 text-text dark:text-cream m-4 leading-8 tracking-tighter font-body"
              >
                Projects
              </h2>
            <a href="/projects" class="font-medium flex no-underline ml-auto mr-4 px-4 py-1.5 rounded-full text-sm hover:bg-secondary-100 dark:hover:bg-secondary-800 hover:text-secondary-900 dark:hover:text-white transition-all duration-300 font-sans items-center">
                View all projects
                <Icon name="ph:arrow-right-light" class="w-5 h-5 ml-2" />
            </a>
        </div>
        <ProjectCardGroup projects={projects} />
    </SectionContainer>

    <!--  Projects Container -->
    <SectionContainer class="blogs--container">
        <div class="flex flex-row my-4 items-center text-secondary-600 dark:text-secondary-200">
              <h2
                class="font-medium text-h4 text-text dark:text-cream m-4 leading-8 tracking-tighter font-body"
              >
                Posts
              </h2>
            <a href="/posts" class="font-medium flex no-underline ml-auto mr-4 px-4 py-1.5 rounded-full text-sm hover:bg-secondary-100 dark:hover:bg-secondary-800 hover:text-secondary-900 dark:hover:text-white transition-all duration-300 font-sans items-center">
                View all posts
                <Icon name="ph:arrow-right-light" class="w-5 h-5 ml-2" />
            </a>
        </div>

        <PostList posts={sortedPosts} />
    </SectionContainer>
    <!-- Blog Container -->
    <SectionContainer class="tags--container">
        <div class="flex flex-row my-4 items-center text-secondary-600 dark:text-secondary-200">
            <h2
                class="font-medium text-h4 text-text dark:text-cream m-4 leading-8 tracking-tighter mb-0 font-body"
            >
                Top Tags
            </h2>

            <a href="/tags" class="font-medium flex no-underline ml-auto mr-4 px-4 py-1.5 rounded-full text-sm hover:bg-secondary-100 dark:hover:bg-secondary-800 hover:text-secondary-900 dark:hover:text-white transition-all duration-300 font-sans items-center">
                View all tags
                <Icon name="ph:arrow-right-light" class="w-5 h-5 ml-2" />
            </a>
        </div>

        <ul class="list-none flex flex-wrap gap-4 px-4">
            {
                tags.map((tag) => (
                    <li class={`inline-block`}>
                        <a
                            href={`/tags/${tag.toLowerCase()}`}
                            class={`text-lg text-secondary-600 dark:text-secondary-200 pr-2 flex flex-wrap items-center relative underline hover:text-secondary-900 dark:hover:text-white decoration-secondary-200
                            decoration-2 transition-all duration-300 hover:-translate-y-0.5 focus-visible:p-1`}
                        >
                            <Icon name="tabler:hash" class="w-5 h-5 text-mint-icon" />
                            &nbsp;<span>{tag.toLowerCase()}</span>
                        </a>
                    </li>
                ))
            }
        </ul>
    </SectionContainer>
    <!-- Tags Container -->
</Layout>
