---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import { Image } from "@astrojs/image/components";
import profileImage from "../../public/icons/avenue-icon-alt.png";
import projectData from "@/data/projectData.json";
import Section from "@/components/section/Section.astro";
import FormattedDate from "../../src/components/FormattedDate.astro";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import getSortedTags from "@/utils/getSortedTags";
import Logo from "@/components/header/Logo.astro";
import { SITE } from "@config";
import ProjectCardGroup from "@/components/projects/ProjectCardGroup.astro";
import PostList from "@/components/posts/PostList.astro";

// const components = {
//     boids: () => <Boids client:only="react" class="z-0"/>
// }

const posts = await getCollection("post");

const tags = getSortedTags(posts).slice(0, 6);
const sortedPosts = posts
    .filter((post) => post.data.featured == true)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, SITE.postPerPage);

const projects = projectData.slice(0, SITE.postPerPage);
---

<Layout
    title="jdlennoxs"
    description=""
>
    <SectionContainer class="projects--container">
         <div class="flex flex-row items-center text-neutral-500">
          
              <h2
            class="font-medium text-h4 text-zinc-800 m-4 leading-8 tracking-tighter"
        >
            Projects
        </h2>
            <a href="/projects" class="font-medium flex no-underline ml-auto mr-4">
                View all projects
                <Icon name="ph:arrow-right-light" class="w-6 h-6 ml-4" />
            </a>
        </div>
        <ProjectCardGroup projects={projects} />
    </SectionContainer>

    <!--  Projects Container -->
    <SectionContainer class="blogs--container">
        <div class="flex flex-row my-4 items-center text-neutral-500">
          
              <h2
            class="font-medium text-h4 text-zinc-800 m-4 leading-8 tracking-tighter"
        >
            Posts
        </h2>
            <a href="/posts" class="font-medium flex no-underline ml-auto mr-4">
                View all posts
                <Icon name="ph:arrow-right-light" class="w-6 h-6 ml-4" />
            </a>
        </div>

        <PostList posts={sortedPosts} />
    </SectionContainer>
    <!-- Blog Container -->
    <SectionContainer class="tags--container">
        <div class="flex flex-row my-4 items-center text-neutral-500">
            <h2
                class="font-medium text-h4 text-zinc-800 m-4 leading-8 tracking-tighter mb-0"
            >
                Top Tags
            </h2>

            <a href="/tags" class="font-medium flex no-underline ml-auto mr-4">
                View all tags
                <Icon name="ph:arrow-right-light" class="w-6 h-6 ml-4" />
            </a>
        </div>

        <ul class="list-none space-y-5">
            {
                tags.map((tag) => (
                    <li class={`inline-block my-3 mx-4 underline-offset-8`}>
                        <a
                            href={`/tags/${tag.toLowerCase()}`}
                            class={`text-lg text-zinc-600 pr-2 flex flex-wrap items-center relative underline hover:-top-0.5 hover:text-skin-accent focus-visible:p-1`}
                        >
                            <Icon name="tabler:hash" class="w-5 h-5 text-[#9ce0d6]" />
                            &nbsp;<span>{tag.toLowerCase()}</span>
                        </a>
                    </li>
                ))
            }
        </ul>
    </SectionContainer>
    <!-- Tags Container -->
</Layout>
