---
import Layout from "@/layouts/Layout.astro";
import Scene from "@/components/react/scene";
---

<Layout
    title="Orbit"
    description=""
>
    <div style="height: 100vh;">
        <Scene client:load />
    </div>
</Layout>
