---
import { Icon } from "astro-icon/components";
import Logo from "./Logo.astro";
import ToggleMenu from "./ToggleMenu.astro";
import { SOCIALS } from "@config";

---

<header class="fixed left-0 bottom-0 h-full w-24 bg-white flex flex-col overflow-y-auto">
  <div class="flex flex-col h-full py-4 px-2 min-h-[500px]">
    <div class="flex flex-col items-center">
      
      <div class="md:hidden mt-4">
        <ToggleMenu />
      </div>
    </div>
    <nav
      class="hidden h-full w-full items-center text-zinc-600 dark:text-zinc-300 md:flex md:flex-col"
      aria-label="Main navigation"
      id="menu"
    >
      <ul
        class="invisible flex w-full flex-col items-center pt-4 text-xl md:visible md:w-auto md:pt-4 md:text-base"
      >
      <li class="relative w-24 h-24 flex justify-center">
        <a
          class="absolute whitespace-nowrap px-2 py-3 font-medium transition duration-150 ease-in-out hover:text-gray-900 dark:hover:text-white transform rotate-90 origin-center"
          href={"/projects"}>Projects</a
        >
      </li>
        <li class="relative w-24 h-24 flex justify-center">
          <a
            class="absolute whitespace-nowrap px-2 py-3 font-medium transition duration-150 ease-in-out hover:text-gray-900 dark:hover:text-white transform rotate-90 origin-center"
            href={"/posts"}
            >Posts
          </a>
        </li>
        <li class="relative w-24 h-24 flex justify-center">
          <a
            class="absolute whitespace-nowrap px-2 py-3 font-medium transition duration-150 ease-in-out hover:text-gray-900 dark:hover:text-white transform rotate-90 origin-center"
            href={"/about"}>About</a
          >
        </li>
        <li class="md:hidden">
          <a
            class="flex items-center px-2 py-3 font-bold transition duration-150 ease-in-out hover:text-gray-900 dark:hover:text-white"
            href="https://github.com/onwidget/astrowind"
            >Github
          </a>
        </li>
      </ul>
      <div class="mt-auto flex flex-col items-center space-y-4">
        <div class="flex flex-col items-center space-y-4 md:flex">
        
           {
                                SOCIALS.filter((social) => social.active).map(
                                    (social) => (
                                        <a
                                            href={social.href}
                                            class="inline-flex items-center rounded-lg p-2.5 text-sm text-zinc-600 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
                                            target="_blank"
                                            title={social.title}
                                        >
                                            <Icon
                                                name={social.icon}
                                                class="w-5 h-5 "
                                            />
                                        </a>
                                    )
                                )
                            }
                              <a
            class="inline-flex items-center rounded-lg p-2.5 text-sm text-zinc-600 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            aria-label="RSS Feed"
            href="/rss.xml"
          >
            <Icon name="tabler:satellite" class="h-5 w-5" />
          </a>
      <a  class="inline-block rounded-lg p-2.5 text-sm text-zinc-600 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700" href="/">
        <Logo class="w-5 h-5" variant="icon" />
      </a>
      </div>
      </div>
    </nav>
  </div>
</header>
