---
import { clsx } from "clsx";

export interface Props {
    class?: string;
    height?: "screen" | "auto";
}

const { class: className, height = "screen" } = Astro.props;

const heightClasses = {
    screen: "h-screen",
    auto: "h-auto",
};
---

<section class={clsx(heightClasses[height], className)}>
    <slot />
</section>
